@model User
@{
    ViewData["Title"] = "Remove";
}
<h4>Are You sure Want Delete</h4>

<div class="card" style="width:340px">
    <div class="card-body">
        @if (Model.Image != null)
        {
            <img class="card-img-top" src="data:image/png;base64,@Convert.ToBase64String(Model.Image)" alt="User Image" style=" width:250px" />

        }
        <h4 class="card-title">@Model.Name</h4>
        <p class="card-text">@Model.Age</p>
        <a href="#" class="btn btn-primary">See Profile</a>
    </div>
    <form method="post" action="/User/ConfirmDelete/@Model.Id">
        <input type="submit" value="Delete" class="form-control" />
    </form>
</div>

